.logoViagens {
 position: absolute;
 width: 150px;
 top: 20px;
 filter: brightness(300%);
}
.voltar {
 position: absolute;
 left: 20%;
 top: 36px;
 font-size: 2.3rem;
 color: rgb(255, 255, 255);
 cursor: pointer;
}